.head {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.55) 50%, #000000 100%),
    url("../background.png");
  background-size: cover;
  background-position: center middle;
  height: 650px;
}
.logo {
  font-family: Nunito Sans;
  font-size: 24px;
  font-weight: 900;
  line-height: 32.74px;
  text-align: left;
  width: 166px;
  height: 33px;
  opacity: 0px;
  margin-top: 25px;
  color: rgb(31, 32, 22);
}
.minilogo {
  margin-left: -35px;
  margin-top: 20px;
  font-family: Nunito Sans;
  font-size: 16px;
  font-weight: 900;
  line-height: 32.74px;
  text-align: left;
  width: 166px;
  height: 33px;
  opacity: 0px;
  color: rgb(31, 32, 22);
}

.logodiv {
  display: inline-flex;
}
.navbar {
  text-align: center;
  display: inline-flex;
}
.navbarmini {
  display: inline-flex;
  border: 1px solid rgba(34, 38, 1, 1);
  height: 40px;
  margin: 30px;
  margin-left: 200px;
  width: 300px;
  border-radius: 10px;
}
.navbarmini a {
  margin-left: 55px;
  color: rgba(34, 38, 1, 1);
  font-family: Nunito Sans;
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
  line-height: 27.28px;
  text-decoration: none;
}
.cart {
  margin: 30px;
}
.h1head {
  margin-top: 180px;
  opacity: 0px;
  color: white;
  font-size: 40px;
  text-align: center;
  font-family: Nunito-sans;
}
.h3head {
  color: white;
  margin-top: -30px;
  text-align: center;
  font-family: Nunito-sans;
  font-size: 24px;
  font-weight: 400;
}
.shopdiv {
  display: inline-flex;
  margin-left: 600px;
}
.shoplink {
  border: 1px solid rgba(34, 38, 1, 1);
  background-color: rgba(34, 38, 1, 1);
  color: white;
  padding: 20px;
  text-decoration: none;
  border-radius: 10px;
}
.arrowup {
  border: 1px solid rgba(34, 38, 1, 1);
  background-color: rgba(34, 38, 1, 1);
  color: white;
  padding: 25px;
  margin-left: 4px;
  border-radius: 10px;
}
.clockdiv {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
.clock {
  color: white;
  font-size: 25px;
  margin-left: 50px;
}
.daily {
  color: white;
  font-family: Nunito-sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 38.19px;
}
.infinity {
  color: white;
  font-size: 25px;
  margin-left: 110px;
}
.hassle {
  color: white;
  font-family: Nunito-sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 38.19px;
  margin-left: 20px;
}
.shoppingbag {
  color: white;
  font-size: 25px;
  margin-left: 30px;
}
.unlimited {
  color: white;
  font-family: Nunito-sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 38.19px;
}
@media (max-width: 900px) {
}
