.mainh1 {
  font-family: Nunito Sans;
  font-size: 30px;
  font-weight: 300;
  line-height: 27.28px;
  text-align: center;
  color: rgba(34, 38, 1, 1);
}
.maindiv {
  background-color: #f9f6f4;
  margin-top: -15px;
  padding: 20px;
}
.focus {
  color: red;
}
.mainh2 {
  font-family: Nunito Sans;
  font-size: 30px;
  font-weight: 300;
  line-height: 37.28px;
  text-align: left;
  margin-top: 70px;
}
.mainh3 {
  font-family: Nunito Sans;
  font-size: 30px;
  font-weight: 300;
  line-height: 37.28px;
  text-align: left;
  margin-top: 70px;
}
.image1 {
  width: 500px;
  margin-left: 250px;
  margin-right: -39px;
}
.standdiv {
  margin-left: -200px;
}
.discover {
  font-family: Nunito Sans;
  font-size: 19px;
  font-weight: lighter;
  line-height: 30.74px;
  letter-spacing: 0.001em;
  text-align: left;
  opacity: 0.5;
}
.make {
  font-family: Nunito Sans;
  font-size: 19px;
  font-weight: lighter;
  line-height: 30.74px;
  letter-spacing: 0.001em;
  text-align: left;
  opacity: 0.5;
}
.focuss {
  color: red;
}
.mimmimdiv1 {
  width: 411px;
  height: 324px;
  gap: 16px;
  opacity: 0px;
}
.mindiv {
  margin: 140px;
  display: flex;
  justify-content: space-around;
}
.image2 {
  width: 500px;
  margin-right: 250px;
}
